<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="egreso">
      <h2 data-cy="egresoDetailsHeading"><span jhiTranslate="mercaExtraApp.egreso.detail.title">Egreso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ egreso.id }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.egreso.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ egreso.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.egreso.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ egreso.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.egreso.valorEgreso">Valor Egreso</span></dt>
        <dd>
          <span>{{ egreso.valorEgreso }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/egreso', egreso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
