<div class="d-flex justify-content-center">
  <h2 class="titulos2">Carrito de compras</h2>
</div>
<h5 class="titulos2">Elige tus productos</h5>
<div class="d-flex justify-content-end">
  <button class="btn btn-info" (click)="verCarroCompras()">
    <mat-icon class="icon-config">shopping_cart</mat-icon><span>Ver carrito</span>
    <span class="boton-count badge badge-light">{{ contadorCarrito }}</span>
  </button>
</div>
<jhi-alert></jhi-alert>
<div class="d-flex">
  <div class="d-flex flex-column form-check col-md-2">
    <div class="mb-4">
      <h3 class="font-size-black" style="margin-right: -100">Filtra Por:</h3>
      <button (click)="refresh()" class="btn btn-outline-info btn-sm">
        <span>Ver todos</span><mat-icon class="icon-config">preview</mat-icon>
      </button>
    </div>
    <input
      class="form-check-input"
      type="radio"
      [(ngModel)]="tipoCategoria"
      value="carnes"
      name="tipoCategoria"
      id="tipoCategoria"
      (change)="tipoCategoriaMethod()"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipoCategoria"> Carnes </label>
    <input
      value="quesos"
      class="form-check-input"
      type="radio"
      (change)="tipoCategoriaMethod()"
      [(ngModel)]="tipoCategoria"
      name="tipo1"
      id="tipo1"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipo1"> Quesos </label>
    <input
      value="granos"
      class="form-check-input"
      type="radio"
      (change)="tipoCategoriaMethod()"
      [(ngModel)]="tipoCategoria"
      name="tipo2"
      id="tipo2"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipo2"> Granos </label>
    <input
      value="aseo"
      class="form-check-input"
      type="radio"
      (change)="tipoCategoriaMethod()"
      [(ngModel)]="tipoCategoria"
      name="tipo3"
      id="tipo3"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipo3"> Aseo </label>
    <input
      value="verduruasFrutas"
      class="form-check-input"
      (change)="tipoCategoriaMethod()"
      [(ngModel)]="tipoCategoria"
      type="radio"
      name="tipo4"
      id="tipo4"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipo4"> Verduras- Frutas </label>
    <input
      value="pasabocas"
      class="form-check-input"
      type="radio"
      (change)="tipoCategoriaMethod()"
      [(ngModel)]="tipoCategoria"
      name="tipo5"
      id="tipo5"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipo5"> Pasabocas </label>
    <input
      value="otros"
      class="form-check-input"
      type="radio"
      (change)="tipoCategoriaMethod()"
      [(ngModel)]="tipoCategoria"
      name="tipo6"
      id="tipo6"
    />
    <label class="form-check-label" style="position: relative; top: -19px" for="tipo6"> Otros </label>
    <div class="mt-3">
      <label for="nombre" class="form-label font-size-black2">Nombre</label>
      <input
        style="margin-left: -30px"
        placeholder="Busca por nombre"
        [(ngModel)]="nombre"
        (keyup)="productosPorFiltro()"
        type="text"
        class="form-control"
      />
    </div>
  </div>

  <div class="col-md-10">
    <div class="row text-center mt-5">
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let producto of productos! | paginate: { itemsPerPage: 12, currentPage: pA }">
        <div class="card" style="width: 16 rem; height: 420px">
          <button style="border-radius: 10px" class="btn btn-info btn-sm mb-2" (click)="llenarCarroCompra(producto)">Agregar</button>
          <a *ngIf="producto.imagen" (click)="openFile(producto.imagen, producto.imagenContentType)">
            <img
              [src]="'data:' + producto.imagenContentType + ';base64,' + producto.imagen"
              style="max-height: 100px"
              alt="producto image"
            />
          </a>
          <div class="card-body">
            <p class="card-text font-size-black2">
              <b>{{ producto.descripcion }}</b>
            </p>
            <b
              ><h5 *ngIf="account!.login === 'admin'" class="card-text titulo-entidades">
                <span class="font-size-black2">Disponibles:</span> {{ producto.cantidad }}
              </h5></b
            >
            <b
              ><h5 class="font-size-black2"><span class="font-size-black2">Precio:</span> ${{ producto.precio }}</h5></b
            >
            <br />
            <b
              ><p *ngIf="producto.precioDescuento" class="card-text titulo-entidades neons">
                <span class="">Descuento del dia: </span> {{ producto.precioDescuento }}%
              </p></b
            >
            <br />
            <b
              ><p *ngIf="producto.precioDescuento" class="card-text">
                <span style="color: red"
                  >Antes <del>${{ producto.precio }}</del></span
                >
                <span class="font-size-black2"> Ahora: ${{ producto.precioConDescuento }}</span>
              </p></b
            >
          </div>
        </div>
      </div>
      <pagination-controls style="text-align: center" (pageChange)="pA = $event" (click)="scroll()"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #validarCompra>
  <div class="modal-header">
    <h4 class="modal-title" style="color: red">Carro de Compras</h4>
  </div>
  <div class="modal-body">
    <div>
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" jhiTranslate="mercaExtraApp.factura.infoCiente" for="field_infoCiente">Info Ciente</label>
              <input
                type="text"
                class="form-control"
                name="infoCiente"
                id="field_infoCiente"
                data-cy="infoCiente"
                formControlName="infoCiente"
                readonly
              />
            </div>

            <!-- <div class="col-md-6">
              <label class="form-label" jhiTranslate="mercaExtraApp.factura.numeroFactura" for="field_numeroFactura">Numero Factura</label>
              <input
                type="text"
                class="form-control"
                name="numeroFactura"
                id="field_numeroFactura"
                data-cy="numeroFactura"
                formControlName="numeroFactura"
              />
            </div> -->
          </div>

          <div class="col-md-6 mb-4">
            <label class="form-label" jhiTranslate="mercaExtraApp.factura.metodoPago" for="field_metodoPago">Metodo Pago</label>
            <select class="form-control" name="metodoPago" formControlName="metodoPago" id="field_metodoPago" data-cy="metodoPago" required>
              <option [ngValue]="null">{{ 'mercaExtraApp.MetodoPago.null' | translate }}</option>
              <option *ngFor="let metodoPago of metodoPagoValues" [value]="metodoPago">
                {{ 'mercaExtraApp.MetodoPago.' + metodoPago | translate }}
              </option>
            </select>
            <div
              *ngIf="
                this.editForm.get(['metodoPago'])!.invalid && (editForm.get('metodoPago')!.dirty || editForm.get('metodoPago')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('metodoPago')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="row mb-4">
            <!-- <div class="col-md-6">
              <label class="form-label" jhiTranslate="mercaExtraApp.factura.tipoFactura" for="field_tipoFactura">Tipo Factura</label>
              <select class="form-control" name="tipoFactura" formControlName="tipoFactura" id="field_tipoFactura" data-cy="tipoFactura">
                <option [ngValue]="null">{{ 'mercaExtraApp.TipoFactura.null' | translate }}</option>
                <option *ngFor="let tipoFactura of tipoFacturaValues" [value]="tipoFactura">
                  {{ 'mercaExtraApp.TipoFactura.' + tipoFactura | translate }}
                </option>
              </select>
            </div> -->

            <div class="col-md-6">
              <label class="form-label" jhiTranslate="mercaExtraApp.factura.valorFactura" for="field_valorFactura">Valor Factura</label>
              <input
                readonly
                type="number"
                class="form-control"
                name="valorFactura"
                id="field_valorFactura"
                data-cy="valorFactura"
                formControlName="valorFactura"
              />
            </div>
          </div>

          <div *ngIf="editForm.get('metodoPago')!.value === 'CONTRA_ENTREGA'" class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" for="field_valorPagado">Ingrese el valor con el que pagara</label>
              <input
                type="number"
                (keyup)="restarValores()"
                class="form-control"
                name="valorPagado"
                id="field_valorPagado"
                data-cy="valorPagado"
                formControlName="valorPagado"
                [required]="editForm.get('metodoPago')!.value === 'CONTRA_ENTREGA'"
              />

              <div
                *ngIf="
                  editForm.get('valorPagado')!.invalid &&
                  (this.editForm.get('valorPagado')!.dirty || this.editForm.get('valorPagago')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="this.editForm.get('valorPagado')?.errors?.required">
                  Este campo es requerido
                </small>
              </div>
            </div>

            <div *ngIf="this.editForm.get(['valorDeuda'])!.value > 0" class="col-md-6">
              <label class="form-label" for="field_valorDeuda">Debe</label>
              <input
                readonly
                type="number"
                class="form-control"
                name="valorDeuda"
                id="field_valorDeuda"
                data-cy="valorDeuda"
                formControlName="valorDeuda"
              />
              <div class="alert alert-warning" role="alert">
                <p class="mb-0">La compra no será efectuada mientras el valor pagado sea menor al valor de la factura.</p>
              </div>
            </div>
          </div>

          <div *ngIf="editForm.get(['metodoPago'])!.value === 'TRANSACCION_BANCARIA'" class="col-md-6">
            <label class="form-label" for="field_valorDeuda">Numero a Consignar</label>
            <input readonly type="text" class="form-control" value="111-222-333-444" />
            <div class="alert alert-warning" role="alert">
              <p class="mb-0">Tan pronto como la transaccion sea exitosa podra continuar con la realización del pedido.</p>
            </div>
          </div>

          <!-- <div class="row mb-4">
            <div class="col-md-6">
              <label class="form-label" jhiTranslate="mercaExtraApp.factura.estadoFactura" for="field_estadoFactura">Estado Factura</label>
              <input
                type="number"
                class="form-control"
                name="estadoFactura"
                id="field_estadoFactura"
                data-cy="estadoFactura"
                formControlName="estadoFactura"
              />
            </div>


          </div> -->
        </div>

        <div>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-info"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>

          <button type="button" class="btn btn-info" (click)="verCarroCompras2()">
            <span>Ver Productos <mat-icon class="icon-config">shopping_cart</mat-icon></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer color-toggle text-black">
    <div class="d-flex flex-column">
      <h4>Equipo Merca Extra.</h4>
      <span class="font-size-black2">Presione la telca [Esc] para salir</span>
    </div>
  </div>
</ng-template>

<ng-template #llenarCarro>
  <div class="modal-header">
    <h4 class="modal-title">Validar Compra</h4>
  </div>
  <div class="modal-body">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <div class="card text-left">
          <img
            class="card-img-top"
            [src]="'data:' + productAdd!.imagenContentType + ';base64,' + productAdd!.imagen"
            style="max-height: 120px; padding: 5px"
            alt="producto image"
          />
          <div class="card-body">
            <h4 class="card-title">Producto: {{ productAdd!.nombre }}</h4>
            <h4 class="card-text">Disponibles: {{ productAdd!.precio }}</h4>
          </div>
        </div>
        <div class="mt-4">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input
            (keyup)="validationValueAmount()"
            type="number"
            oninput="this.value = Math.max(this.value, null)"
            min="0"
            max="10"
            placeholder="Cantidad que deseas adquirir"
            class="form-control"
            [(ngModel)]="cantidad"
          />
          <div class="d-flex justify-content-center">
            <button
              [disabled]="disableAdd || cantidad === 0 || cantidad! > 10 || cantidad === undefined"
              class="mt-2 btn btn-dark btn-sm"
              (click)="agregarProducto()"
            >
              Agregar
            </button>
          </div>
          <small *ngIf="cantidad! > 10" class="text-danger mt-1"> No puedes adquirir mas de 10 cantidades de este producto. </small>
        </div>
      </div>
      <!-- <div class="col-md-5">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input
          (keyup)="validationValueAmount()"
          type="number"
          oninput="this.value = Math.max(this.value, null)"
          min="0"
          max="10"
          placeholder="Cantidad que deseas adquirir"
          class="form-control"
          [(ngModel)]="cantidad"
        />
      </div> -->
      <!-- <div class="col-md-2">
        <button
          [disabled]="disableAdd || cantidad === 0 || cantidad === undefined"
          class="btn btn-primary btn-sm"
          (click)="agregarProducto()"
          style="margin-top: 35px"
        >
          Agregar
        </button>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-info btn-sm" (click)="cancel()">
      <span>Cancelar<mat-icon class="icon-config">not_interested</mat-icon></span>
    </button>
  </div>
</ng-template>

<ng-template #verCarroCompra>
  <div class="modal-header">
    <h4 class="text-pattern">Tu carrito de Compras hasta el momento</h4>
  </div>
  <div class="modal-body">
    <h4 style="font-weight: bold">Carrito:</h4>
    <div class="d-flex justify-content-end">
      <span><b style="font-weight: bold">Total Factura: </b>{{ totalFactura | currency }}</span>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <button (click)="deleteAllElementsCarrito()" class="menu-buttons-delete">
        <mat-icon class="icon-config">delete_sweep</mat-icon><span>Vaciar carrito</span>
      </button>
    </div>
    <div *ngFor="let item of productosSeleccionados">
      <div class="card mb-3" style="width: 100%">
        <div class="d-flex">
          <div class="col-md-3 me-3">
            <img
              [src]="'data:' + item.imagenContentType + ';base64,' + item.imagen"
              style="max-height: 140px; padding: 4px"
              alt="producto image"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Producto: {{ item.nombreProducto }}</h5>
              <p class="card-text">Precio: {{ item.precioOriginal }}</p>
              <p class="card-text">SubTotal: {{ item.precio }}</p>

              <div class="d-flex" style="border-width: 1px; border-style: ridge; border-color: rgb(150, 150, 150); width: 96px">
                <button class="menu-config2 me-2" (click)="ChangeValuesShopingCard('add', item)" [disabled]="item.cantidad === 10">
                  <mat-icon class="icon-config">add</mat-icon>
                </button>
                <span style="margin-top: 3px">{{ item.cantidad }}</span>
                <button class="menu-config2 ms-2" (click)="ChangeValuesShopingCard('subs', item)" [disabled]="item.cantidad === 1">
                  <mat-icon class="icon-config">remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content around">
            <a class="me-3" style="color: rgb(0, 119, 255); margin-bottom: 10px; height: 25px" (click)="eliminarProducto(item)">Eliminar</a>
            <a style="color: rgb(0, 119, 255); margin-bottom: 10px; height: 25px" (click)="cancel()">Mas productos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-start">
      <span style="font-weight: bold">
        Si algún producto adquirido tiene un descuento, este se aplicara automáticamente al subtotal y al total de la factura.</span
      >
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-info btn-sm" (click)="cancel()">
      <span><mat-icon class="icon-config">arrow_back</mat-icon>Volver</span>
    </button>
    <button [disabled]="productosSeleccionados!.length === 0" class="btn btn raise" (click)="confirmarCompra()">Confirmar Pedido</button>
  </div>
</ng-template>

<ng-template #verCarroCompra2>
  <div class="modal-header">
    <h4 class="text-pattern">Tu carrito de Compras</h4>
  </div>
  <div class="modal-body">
    <h4>Productos:</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Subtotal</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productosSeleccionados">
          <td>{{ item.nombreProducto }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precioOriginal }}</td>
          <td>{{ item.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <span class="font-size-black2">Toca fuera de esta sección para continuar con la confirmación de la compra</span>
  </div>
</ng-template>

<ng-template #cantidadInvalida>
  <div class="modal-header">
    <h3 style="color: red">Cantidad invalida</h3>
  </div>
  <div class="modal-body">
    <span>{{ mensaje }}</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-info btn-sm" (click)="cancel()">
      <span><mat-icon class="icon-config">arrow_back</mat-icon>Volver</span>
    </button>
  </div>
</ng-template>

<ng-template #carroCompraStorage>
  <div class="modal-header">
    <h4 class="text-pattern">Tu carrito de Compras</h4>
  </div>
  <div class="modal-body">
    <h4>Productos:</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Subtotal</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of carroCompStorage">
          <td>{{ item.nombreProducto }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precioOriginal }}</td>
          <td>{{ item.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <span class="font-size-black2">Toca fuera de esta sección para continuar con la confirmación de la compra</span>
  </div>
</ng-template>
