<div class="footer" style="margin-top: 50px">
  <div class="d-flex justify-content-around">
    <div class="d-flex flex-column">
      <div class="p-2">
        <h4 class="font-size-black">Contactenos <mat-icon class="icon-config">contacts</mat-icon></h4>
        <li>
          <a class="style-a-footer" href="">Via GitHub</a>
        </li>
        <li>
          <a class="style-a-footer" href="">Via Gmail</a>
        </li>
        <li>
          <a class="style-a-footer" href="">Via Gmail</a>
        </li>
      </div>
    </div>
    <div>
      <div class="d-flex flex-column">
        <h4 class="font-size-black">Metodos de pago <mat-icon class="icon-config">shopping_bag</mat-icon></h4>
        <li>Contra entrega</li>
        <li>Transaccion bancaria</li>
      </div>
    </div>
    <div>
      <div class="d-flex flex-column">
        <h4 class="font-size-black">Ubicacion <mat-icon class="icon-config">location_on</mat-icon></h4>
        <li>Empresa Remota</li>
      </div>
    </div>
  </div>
</div>
