<div>
  <h2 id="page-heading" data-cy="ProductoFavoritosHeading" class="mb-5">
    <span class="titulos">Tu Lista de Productos Favoritos</span>

    <!-- <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mercaExtraApp.productoFavoritos.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-producto-favoritos"
        [routerLink]="['/producto-favoritos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mercaExtraApp.productoFavoritos.home.createLabel"> Create a new Producto Favoritos </span>
      </button>
    </div> -->
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productoFavoritos?.length === 0">
    <span jhiTranslate="mercaExtraApp.productoFavoritos.home.notFound">No productoFavoritos found</span>
  </div>

  <!-- <div class="table-responsive" id="entities" *ngIf="productoFavoritos && productoFavoritos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoFavoritos.idProduct">Id Product</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoFavoritos.login">Login</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoFavoritos.lastUpdate">Last Update</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoFavoritos.estado">Estado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productoFavoritos of productoFavoritos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/producto-favoritos', productoFavoritos.id, 'view']">{{ productoFavoritos.id }}</a>
          </td>
          <td>{{ productoFavoritos.idProduct }}</td>
          <td>{{ productoFavoritos.login }}</td>
          <td>{{ productoFavoritos.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ productoFavoritos.estado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/producto-favoritos', productoFavoritos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/producto-favoritos', productoFavoritos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productoFavoritos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div class="row d-flex">
    <div class="col-md-4">
      <div class="card text-bg-light mb-3" style="max-width: 18rem">
        <div class="card-header">Videos Favoritos Visibles</div>
        <div class="card-body">
          <h5 class="card-title">Ultima Actualizacion: 22/02/2022</h5>
          <p class="card-text">Puedes agregar los productos que quieras a esta lista</p>
        </div>
      </div>
    </div>

    <div class="col-md-8"></div>
  </div>
</div>
