<div class="d-flex justify-content-center" style="background: url(../../content/images/imagenfonfo.jpg)">
  <div style="background-color: rgba(255, 255, 255, 0.816); padding: 5px" class="col-8">
    <div *ngIf="factura">
      <h2 data-cy="facturaDetailsHeading"><span jhiTranslate="mercaExtraApp.factura.detail.title">Factura</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mercaExtraApp.factura.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ factura.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.infoCiente">Info Ciente</span></dt>
        <dd>
          <span>{{ factura.infoCiente }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.numeroFactura">Numero Factura</span></dt>
        <dd>
          <span>{{ factura.numeroFactura }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.tipoFactura">Tipo Factura</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mercaExtraApp.TipoFactura.' + factura.tipoFactura }}">{{ factura.tipoFactura }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.valorFactura">Valor Factura</span></dt>
        <dd>
          <span>{{ factura.valorFactura }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span>{{ factura.valorPagado }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.valorDeuda">Valor Deuda</span></dt>
        <dd>
          <span>{{ factura.valorDeuda }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.estadoFactura">Estado Factura</span></dt>
        <dd>
          <span>{{ factura.estadoFactura }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.metodoPago">Metodo Pago</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mercaExtraApp.MetodoPago.' + factura.metodoPago }}">{{ factura.metodoPago }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.factura.userName">User Name</span></dt>
        <dd>
          <span>{{ factura.userName }}</span>
        </dd>
      </dl>

      <h2 class="mt-5 mb-2 titulos">Productos adquiridos en la factura:</h2>
      <table class="mb-4 table table-bordered border-info table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">cantidad</th>
            <th scope="col">precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of factura.itemsPorFactura">
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.precio }}</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button *ngIf="account!.login === 'admin'" type="button" [routerLink]="['/factura', factura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
