<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="proveedor">
      <h2 data-cy="proveedorDetailsHeading"><span jhiTranslate="mercaExtraApp.proveedor.detail.title">Proveedor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ proveedor.id }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.nombre">Nombre</span></dt>
        <dd>
          <span>{{ proveedor.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.apellido">Apellido</span></dt>
        <dd>
          <span>{{ proveedor.apellido }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.tipoCC">Tipo CC</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mercaExtraApp.TipoDoc.' + proveedor.tipoCC }}">{{ proveedor.tipoCC }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.numeroCC">Numero CC</span></dt>
        <dd>
          <span>{{ proveedor.numeroCC }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.numCelular">Num Celular</span></dt>
        <dd>
          <span>{{ proveedor.numCelular }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.email">Email</span></dt>
        <dd>
          <span>{{ proveedor.email }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.proveedor.tipoProovedor">Tipo Proovedor</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mercaExtraApp.TipoProveedor.' + proveedor.tipoProovedor }}">{{ proveedor.tipoProovedor }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/proveedor', proveedor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
