<div>
  <h2 id="page-heading" data-cy="ProductoPromocionHomeHeading">
    <span jhiTranslate="mercaExtraApp.productoPromocionHome.home.title">Producto Promocion Homes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="consultarProductosDescuento()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mercaExtraApp.productoPromocionHome.home.refreshListLabel">Refresh List</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-producto-promocion-home"
        [routerLink]="['/producto-promocion-home/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mercaExtraApp.productoPromocionHome.home.createLabel"> Create a new Producto Promocion Home </span>
      </button> -->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="productoPromocionHomes?.length === 0">
    <span jhiTranslate="mercaExtraApp.productoPromocionHome.home.notFound">No productoPromocionHomes found</span>
  </div>

  <!-- <div class="table-responsive" id="entities" *ngIf="productoPromocionHomes && productoPromocionHomes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoPromocionHome.idProducto">Id Producto</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoPromocionHome.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.productoPromocionHome.fechaAgregado">Fecha Agregado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productoPromocionHome of productoPromocionHomes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/producto-promocion-home', productoPromocionHome.id, 'view']">{{ productoPromocionHome.id }}</a>
          </td>
          <td>{{ productoPromocionHome.idProducto }}</td>
          <td>{{ productoPromocionHome.descripcion }}</td>
          <td>{{ productoPromocionHome.fechaAgregado | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/producto-promocion-home', productoPromocionHome.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/producto-promocion-home', productoPromocionHome.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(productoPromocionHome)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="alert alert-info" role="alert">
    <h6>Debes de agregar como minimo 4 productos al home para poder visualizarlos</h6>
  </div>
  <!-- <div class="row mt-5">
    <div class="col-md-3" *ngFor="let producto of productos">
      <div class="card" style="width: 18rem">
        <img
          [src]="'data:' + producto.imagenContentType + ';base64,' + producto.imagen"
          style="max-height: 200px"
          width="90%"
          height="500px;"
          alt="producto image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">Descuento: {{ producto.precioDescuento }}%</p>
          <p class="card-text">Descripcion: {{ producto.descripcion }}</p>
          <p class="card-text">estado: {{ producto.estado }}</p>
        </div>
        <div class="card-footer">
          <button
            *ngIf="producto.estado === 'unchecked' || !producto.estado"
            class="btn btn-outline-info"
            (click)="generarDescripcion(producto.id!)"
          >
            Mostrar en el inicio
          </button>
        </div>

        <div *ngIf="crearDescripcion && idProducto === producto.id!">
          <input type="text" class="form-control" placeholder="descripcion" [(ngModel)]="descripcion" />
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-danger me-2" (click)="cancel()">Cancelar</button>
            <button [disabled]="!descripcion" class="btn btn-outline-success" (click)="guardarProductoHome()">Confirmar</button>
          </div>
        </div>
      </div>
    </div> 
  </div> -->

  <div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
      <div class="card mb-3 animated bounce">
        <h3 class="card-header">{{ producto.nombre }}</h3>

        <div class="card-body text-center">
          <img
            [src]="'data:' + producto.imagenContentType + ';base64,' + producto.imagen"
            style="max-height: 200px"
            width="90%"
            height="500px;"
            alt="producto image"
            class="card-img-top"
          />
        </div>
        <div class="card-body">
          <p class="card-text">Descuento: {{ producto.precioDescuento }}%</p>
          <p class="card-text">Descripcion: {{ producto.descripcion }}</p>
          <p class="card-text">estado: {{ producto.estado }}</p>
        </div>

        <div class="card-body d-flex justify-content-between">
          <button
            *ngIf="producto.estado === 'unchecked' || !producto.estado"
            class="btn btn-outline-info"
            (click)="generarDescripcion(producto.id!)"
          >
            Mostrar en el inicio
          </button>
        </div>
        <div *ngIf="crearDescripcion && idProducto === producto.id!">
          <input type="text" class="form-control" placeholder="descripcion" [(ngModel)]="descripcion" />
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-danger me-2" (click)="cancel()">Cancelar</button>
            <button [disabled]="!descripcion" class="btn btn-outline-success" (click)="guardarProductoHome()">Confirmar</button>
          </div>
        </div>
        <div class="card-footer text-center">&copy; marca producto</div>
      </div>
    </div>
  </div>
</div>
