<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pedido">
      <h2 data-cy="pedidoDetailsHeading"><span jhiTranslate="mercaExtraApp.pedido.detail.title">Pedido</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mercaExtraApp.pedido.fechaPedido">Fecha Pedido</span></dt>
        <dd>
          <span>{{ pedido.fechaPedido | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.pedido.direccion">Direccion</span></dt>
        <dd>
          <span>{{ pedido.direccion }}</span>
        </dd>
        <dt><span jhiTranslate="mercaExtraApp.pedido.estado">Estado</span></dt>
        <dd>
          <span>{{ pedido.estado }}</span>
        </dd>
        <dt><span>Domiciliario</span></dt>
        <dd>
          <span>{{ pedido.infoDomicilio }}</span>
        </dd>
        <dt><span>Notificacion</span></dt>
        <dd>
          <span>{{ pedido.descripcionNotificacion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pedido', pedido.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
