<div *ngIf="userLogin === 'admin'" class="d-flex justify-content-end">
  <button class="btn btn-outline-info" (click)="changeLookInfo()">{{ opcion }}</button>
</div>
<div class="d-flex justify-content-center mb-5" *ngIf="verInfo">
  <div class="col-8">
    <header class="titulos mb-4"><h3>Información domicilios y pedidos</h3></header>

    <div class="font-size-new">
      En esta sección damos a conocer información acerca de sucesos que pueden ocurrir durante tu pedido en entrega o un caso en específico
      con algún domiciliario.
    </div>

    <div class="container mt-3">
      <h4 class="titulos mt-5 mb-3">Casos</h4>
      <ol class="font-size-small">
        <li class="mb-2"><b>Pedido no entregado</b></li>
        <p class="ms-3">
          En caso el pedido no sea entregado a tu domicilio en un tiempo estimado de 30 min, se presupone que es problema directamente del
          domiciliario, en dicho caso, el usuario tendrá acceso a un reembolso de su dinero, (si el método de pago fue transacción
          bancaria). Si el método de pago es contra entrega, no abran dilemas de dinero, el usuario será libre de abandonar el aplicativo o
          reintentar su compra con un domiciliario diferente asignado internamente.
        </p>
        <li class="mt-5 mb-2">
          <b>Pedido no pagado</b>
          <p class="ms-3">
            En caso el usuario se niegue a pagar un domicilio por causas diferentes a: (productos alterados, productos en mal estado,
            productos equivocados, etc.) negarse o no pagar el domicilio cuando el proceso es correcto, supone una alteracion en el
            funcionamiento del aplicativo como de la tienda, de este modo se procedera a betar el usuario de el aplicativo.
          </p>
        </li>
        <li class="mt-5 mb-2">
          <b>Pedido no finalizado</b>
          <p class="ms-3">
            Al momento de realizar un pedido, se le informa al usuario que deberá marcar el pedido como finalizado una vez reciba su pedido.
            En caso de no hacerlo y recibir su pedido, su pedido será marcado como expirado después de recibir su pedido y no finalizarlo,
            de este modo no tendrá acceso a reclamos y reembolsos.
          </p>
        </li>
        <li class="mt-5 mb-2">
          <b>Pedido finalizado antes de tiempo</b>
          <p class="ms-3">
            Si un usuario del aplicativo marca su pedido en entrega como finalizado antes de recibirlo, el equipo mercaExtra no se hará
            responsable de su pedido en caso exista un inconveniente con el pedido.
          </p>
        </li>
      </ol>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <h2 class="titulos">¿En que casos puedes hacer un reembolso?</h2>
    </div>
    <div>
      <p class="font-size-small">
        Si el pedido no es entregado a tu domicilio, podrás hacer un reembolso, dichos pedidos serán analizados por el aplicativo para
        diferenciar cuando no finalizas el pedido de cuando no es recibido por el usuario. Luego de analizado el caso de no haber recibido
        el pedido y el método de pago fue transacción bancaria, el usuario tendrá 5 días hábiles para recibir su reembolso.
        <br /><br /><br />
        Encontraras la seccion de reembolso en: Cuenta - reembolsos, situada en la parte inferior del menu vertial del aplicativo. Desde
        alli podras seguir el paso a paso para realizar un reembolso. --Equipo MercaExtra.
      </p>
      <span class="image-help"></span>
    </div>
  </div>
</div>

<div *ngIf="userLogin === 'admin'">
  <h2 id="page-heading" data-cy="DomiciliarioHeading">
    <span class="titulos" jhiTranslate="mercaExtraApp.domiciliario.home.title">Domiciliarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mercaExtraApp.domiciliario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-info jh-create-entity create-domiciliario"
        [routerLink]="['/domiciliario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mercaExtraApp.domiciliario.home.createLabel"> Create a new Domiciliario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="domiciliarios?.length === 0">
    <span jhiTranslate="mercaExtraApp.domiciliario.home.notFound">No domiciliarios found</span>
  </div>

  <div class="row mt-5">
    <div class="d-flex justify-content-center"><h3 class="titulos">Filtros</h3></div>
    <div class="d-flex justify-content-between">
      <div class="col-md-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="nombre" (keyup)="domciliaryFilters()" [(ngModel)]="nombre" />
      </div>

      <div class="col-md-3">
        <label for="tipoSueldo" class="form-label">Tipo Salario</label>
        <select name="tipoSueldo" id="tipoSalario" class="form-select" (click)="domciliaryFilters()" [(ngModel)]="tipoSalario">
          <option [ngValue]="null">{{ 'mercaExtraApp.TipoSalario.null' | translate }}</option>
          <option *ngFor="let tipoSalario of tipoSalarios">
            {{ 'mercaExtraApp.TipoSalario.' + tipoSalario | translate }}
          </option>
        </select>
      </div>

      <div class="col-md-1">
        <label for="nombre" class="form-label">Horario</label>
        <input type="text" class="form-control" placeholder="00:00" (keyup)="domciliaryFilters()" [(ngModel)]="horario" />
      </div>

      <div class="col-md-3">
        <label for="nombre" class="form-label">Estado</label>
        <select name="estado" id="estado" class="form-select" (click)="domciliaryFilters()" [(ngModel)]="estadoDomiciliario">
          <option [ngValue]="null">{{ 'mercaExtraApp.EstadoDomiciliario.null' | translate }}</option>
          <option *ngFor="let estado of stateDomiciary">
            {{ 'mercaExtraApp.EstadoDomiciliario.' + estado | translate }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="card text-center ms-3 mb-3" *ngFor="let domiciliario of domiciliarios" style="width: 24rem">
      <div class="card-body">
        <h5 class="card-title">
          <span class="tituloSmall">Nombre: </span
          ><span class="font-size-small">{{ domiciliario.nombre }} {{ domiciliario.apellido }}</span>
        </h5>
        <p class="card-text">
          <span class="tituloSmall">Tipo Salario: </span><span class="font-size-small">{{ domiciliario.salario }}</span>
        </p>
        <p class="card-text">
          <span class="tituloSmall">Horario: </span><span class="font-size-small"> {{ domiciliario.horario }}</span>
        </p>
        <p class="card-text">
          <span class="tituloSmall">Sueldo: </span><span class="font-size-small"> {{ domiciliario.sueldo | currency }}</span>
        </p>
        <p [ngClass]="stateDomiciliary(domiciliario.estado!)" class="card-text">
          <span class="tituloSmall">Estado: </span><span class="font-size-small"> {{ domiciliario.estado }}</span>
        </p>
        <div class="dropdown">
          <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones <mat-icon class="icon-config">settings_applications</mat-icon>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" [routerLink]="['/domiciliario', domiciliario.id, 'view']"
                >Ver <mat-icon class="icon-config">visibility</mat-icon></a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/domiciliario', domiciliario.id, 'edit']"
                >Editar <mat-icon class="icon-config">edit</mat-icon></a
              >
            </li>
            <li>
              <a class="a-delete dropdown-item" (click)="delete(domiciliario)"
                >Eliminar <mat-icon class="icon-config-delete">delete</mat-icon></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="table-responsive" id="entities" *ngIf="domiciliarios && domiciliarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.apellido">Apellido</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.salario">Salario</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.telefono">Telefono</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.horario">Horario</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.sueldo">Sueldo</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.domiciliario.estado">Estado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domiciliario of domiciliarios; trackBy: trackId" data-cy="entityTable">
          <td>{{ domiciliario.nombre }}</td>
          <td>{{ domiciliario.apellido }}</td>
          <td jhiTranslate="{{ 'mercaExtraApp.TipoSalario.' + domiciliario.salario }}">{{ domiciliario.salario }}</td>
          <td>{{ domiciliario.telefono }}</td>
          <td>{{ domiciliario.horario }}</td>
          <td>{{ domiciliario.sueldo }}</td>
          <td jhiTranslate="{{ 'mercaExtraApp.EstadoDomiciliario.' + domiciliario.estado }}">{{ domiciliario.estado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/domiciliario', domiciliario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/domiciliario', domiciliario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(domiciliario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
