<div>
  <h2 id="page-heading" data-cy="ReembolsoHeading">
    <span jhiTranslate="mercaExtraApp.reembolso.home.title">Reembolsos</span>

    <div class="mt-4 mb-3 d-flex justify-content-end">
      <button></button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reembolsos?.length === 0">
    <span jhiTranslate="mercaExtraApp.reembolso.home.notFound">No reembolsos found</span>
  </div>

  <!-- <div class="table-responsive" id="entities" *ngIf="reembolsos && reembolsos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.reembolso.idPedido">Id Pedido</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.reembolso.idDomiciliario">Id Domiciliario</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.reembolso.idFactura">Id Factura</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.reembolso.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.reembolso.estado">Estado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reembolso of reembolsos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reembolso', reembolso.id, 'view']">{{ reembolso.id }}</a>
          </td>
          <td>{{ reembolso.idPedido }}</td>
          <td>{{ reembolso.idDomiciliario }}</td>
          <td>{{ reembolso.idFactura }}</td>
          <td>{{ reembolso.descripcion }}</td>
          <td>{{ reembolso.estado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reembolso', reembolso.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reembolso', reembolso.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reembolso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div class="row mb-5">
    <div class="col-md-6 d-flex justify-content-around">
      <a class="a-refund" (click)="refundByOption(1)"><span class="font-size-small">Ver Todos</span></a>
      <a class="a-refund"><span class="font-size-small" (click)="refundByOption(2)">En proceso de estudio</span></a>
      <a class="a-refund"><span class="font-size-small" (click)="refundByOption(3)">Concluidos</span></a>
      <a class="a-refund"><span class="font-size-small" (click)="refundByOption(4)">Reembolsados</span></a>
    </div>
  </div>

  <div class="row">
    <h3 class="titulos-black mb-5">{{ title }}</h3>
    <div class="col-lg-3" *ngFor="let reem of reembolsos">
      <div class="card" style="width: 18rem" [ngStyle]="{ height: assigmentHeigth === true ? '19rem' : '13rem' }">
        <ul class="list-group list-group-flush" style="border-color: rgb(180, 180, 180)">
          <li
            *ngIf="reem.fechaPedido"
            class="list-group-item"
            style="background-color: white; color: black; border-color: rgb(180, 180, 180)"
          >
            <span class="font-size-small-blue">Fecha Pedido: </span>{{ reem.fechaPedido }}
          </li>
          <li class="list-group-item" style="background-color: white; color: black; border-color: rgb(180, 180, 180)">
            <span class="font-size-small-blue">Fecha Reembolso: </span>{{ reem.fechaReembolso | formatMediumDate }}
          </li>
          <li class="list-group-item" style="background-color: white; color: black; border-color: rgb(180, 180, 180)">
            <span class="font-size-small-blue">Estádo: </span>{{ reem.estado }}
          </li>
          <li
            *ngIf="reem.fechaPedido"
            class="list-group-item"
            style="background-color: white; color: black; border-color: rgb(180, 180, 180)"
          >
            <a [routerLink]="['/domiciliario', reem.idDomiciliario, 'view']">
              <span class="font-size-small-blue">Domiciliario: </span>{{ reem.nombreDomiciliario }}
            </a>
          </li>
          <li class="list-group-item" style="background-color: white; color: black; border-color: rgb(180, 180, 180)">
            <span class="font-size-small-blue">Descripción: </span>{{ reem.descripcion }}
          </li>
          <li
            *ngIf="reem.estado === 'Reembolsado'"
            class="list-group-item"
            style="background-color: white; color: black; border-color: rgb(180, 180, 180)"
          >
            <span class="font-size-small-blue">Metodo Reembolso: </span>{{ reem.metodoReembolso }}
          </li>
        </ul>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-warning" [routerLink]="['/reembolso', reem.id, 'view']">Ver Detalle</button>
            <button *ngIf="completeState" (click)="concluirReembolso(reem)" class="btn btn-outline-danger">Concluir</button>
            <button *ngIf="isComplete" class="btn btn-outline-danger" (click)="dataRefundProcess(reem.id!)">Reembolsar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #seeRefundData>
  <div class="modal-header">
    <h3 class="titulos">Datos reembolso</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div>
          <span class="font-size-small">Fecha del pedido: {{ dataRefundInProcess!.fechaPedido }} /</span>
          <span class="font-size-small">Descripcion: {{ dataRefundInProcess!.descripcion }} /</span>
          <span class="font-size-small">Usuario a reembolsar: {{ dataRefundInProcess!.nombreUsuario }}</span>
        </div>
      </div>
      <div class="mt-3">
        <div class="d-flex justify-content-center mb-4">
          <span class="font-size-small">Valor a reembolsar: {{ dataRefundInProcess!.valorFactura }}</span>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <div class="col-md-5">
            <label for="metodo-reembolso">Metodo de reembolso</label>
            <select name="metodo-reembolso" class="form-select" [(ngModel)]="metodoReembolso">
              <option [value]="null"></option>
              <option *ngFor="let metodo of metodosReembolso">{{ metodo }}</option>
            </select>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn btn-danger" (click)="completeRefund(dataRefundInProcess!.id!)">Completar Reembolso</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <span>Equipo Merca Extra <button class="btn btn-outline-dark" (click)="cancel()">Volver</button></span>
  </div>
</ng-template>
