<h2 id="jhi-caja-heading" data-cy="CajaCreateUpdateHeading" class="titulos">
  {{ titulo }}
</h2>

<div class="d-flex justify-content-start mb-4">
  <div class="col-7">
    <span class="font-size-small">Consideraciones de la creación de la caja diaria: </span>
    <ol class="mt-4 font-size-small">
      <li class="mt-2">Si no se han realizado ventas en el día, no se podrá crear una caja.</li>
      <li class="mt-2">No se puede registrar un valor mayor al valor total del día.</li>
      <li class="mt-2">Cuando el valor registrado del día es menor al valor vendido del día, el estado de la caja será (DEUDA)</li>
      <li class="mt-2">Luego de crear una caja, esta no podrá ser editada.</li>
    </ol>
  </div>

  <div class="col-4">
    <span class="font-size-black2 alert-info"
      >Se implementa la creación de las cajas diarias, para que se tenga un monitoreo diario, mensual y anual de las ventas que se han
      realizado en el aplicativo durante un periodo de tiempo
    </span>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.fechaCreacion" for="field_fechaCreacion">Fecha Creacion</label>
          <div class="d-flex">
            <input
              id="field_fechaCreacion"
              data-cy="fechaCreacion"
              type="datetime-local"
              class="form-control"
              name="fechaCreacion"
              formControlName="fechaCreacion"
              placeholder="YYYY-MM-DD HH:mm"
              readonly
            />
          </div>
          <div class="alert alert-info text-center">La de fecha de creación de la caja será la fecha exacta del momento de creación</div>
        </div>

        <div class="row mb-4">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.valorTotalDia" for="field_valorTotalDia">Valor Total Dia</label>
          <input
           required
            type="number"
            class="form-control"
            name="valorTotalDia"
            id="field_valorTotalDia"
            data-cy="valorTotalDia"
            formControlName="valorTotalDia"
            readonly
          />
        </div>

        <div class="row mb-4">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.valorRegistradoDia" for="field_valorRegistradoDia"
            >Valor Registrado Dia</label
          >
          <input
            type="number"
            class="form-control"
            name="valorRegistradoDia"
            id="field_valorRegistradoDia"
            data-cy="valorRegistradoDia"
            oninput="this.value = Math.max(this.value, 0)"
            min="1"
            max="{{ value }}"
            formControlName="valorRegistradoDia"
            required="true"
            (keyup)="calcularDiferencia()"
          />
          <div class="alert alert-info text-center">Valor en efectivo del total de las ventas registradas en el día.</div>
        </div>

        <div class="row mb-4">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.diferencia" for="field_diferencia">Diferencia</label>
          <input
            type="number"
            class="form-control"
            name="diferencia"
            id="field_diferencia"
            data-cy="diferencia"
            formControlName="diferencia"
            readonly
          />
        </div>

        <div class="row mb-5">
          <label class="form-label" jhiTranslate="mercaExtraApp.caja.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving "
          class="btn btn-info"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
