<div>
  <h2 id="page-heading" data-cy="ProveedorHeading">
    <span jhiTranslate="mercaExtraApp.proveedor.home.title">Proveedors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mercaExtraApp.proveedor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proveedor"
        [routerLink]="['/proveedor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mercaExtraApp.proveedor.home.createLabel"> Create a new Proveedor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="proveedors?.length === 0">
    <span jhiTranslate="mercaExtraApp.proveedor.home.notFound">No proveedors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="proveedors && proveedors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.apellido">Apellido</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.tipoCC">Tipo CC</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.numeroCC">Numero CC</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.numCelular">Num Celular</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.email">Email</span></th>
          <th scope="col"><span jhiTranslate="mercaExtraApp.proveedor.tipoProovedor">Tipo Proovedor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proveedor', proveedor.id, 'view']">{{ proveedor.id }}</a>
          </td>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.apellido }}</td>
          <td jhiTranslate="{{ 'mercaExtraApp.TipoDoc.' + proveedor.tipoCC }}">{{ proveedor.tipoCC }}</td>
          <td>{{ proveedor.numeroCC }}</td>
          <td>{{ proveedor.numCelular }}</td>
          <td>{{ proveedor.email }}</td>
          <td jhiTranslate="{{ 'mercaExtraApp.TipoProveedor.' + proveedor.tipoProovedor }}">{{ proveedor.tipoProovedor }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proveedor', proveedor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proveedor', proveedor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(proveedor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
