@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');

#card-iconos {
  height: 41px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.247);
}
.btn {
  border: none;
  border-radius: 8px;
}

.size-bold {
  font-weight: bold;
  font-size: 16px;
}

.d-flex {
}
