@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

#containerForm {
  font-family: 'Acme', sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -12px;
}

.imgPassword {
  width: 130px;
  height: 130px;
  display: block;
  margin: auto;
}

.form-control {
  width: 30rem;
}
.titlePassword {
  margin-top: 20px;
}
